/* All styles for your header Components live here */

.header-container {
    display: flex;
}

.title {
    display: flex;
}

.thumb {
    margin-right: 10px;
}

.handle {
    color: darkgray;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 1rem;
}

.name {
    font-size: 2rem;
}